@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

:root{
        background: radial-gradient(rgba(255, 255, 0, 0.69), rgba(255, 255, 255, 0.37));
        font-size: 62.5%;
        --text-color: rgb(8, 8, 8);
        --golden-button: linear-gradient(15deg, rgb(218, 165, 32), rgb(248, 248, 92), goldenrod);
        --red-highlight: linear-gradient(15deg, rgba(218, 32, 32, 0.6), rgba(248, 92, 92, 0.6), rgba(218, 32, 32, 0.6));
        --green-highlight: linear-gradient(15deg, rgba(0, 255, 0, 0.568), rgba(153, 205, 50, 0.863), rgba(0, 255, 0, 0.568));
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        height: 100vh;
        font-family: 'Lugrasimo', cursive;
        color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1rem;
}

h1 {
        font-size: 5.4rem;
        color: var(--text-color);
        margin-bottom: 5rem;
        text-align: center;
}

h1 > span {
        font-size: 2.4rem;
        font-weight: 500;
}

h2 {
        font-size: 4.4rem;
        font-weight: 700;
        margin-bottom: 4rem;
}

h3 {
        font-size: 2.8rem;
        font-weight: 500;
}

h4 {
        font-size: 2.4rem;
        font-weight: 500;
}

h5 {
        font-size: 2.2rem;
        font-weight: 500;
}

h6 {
        font-size: 2rem;
        font-weight: 500;
}

.container {
        padding: 2rem;
        width: 100vw;
        height: 84vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
        flex-direction: column;
}

.container > * {
        width: 100%;
}

.flex-column {
        display: flex;
        flex-direction: column;
}

.flex-center {
        justify-content: center;
        align-items: center;
}

.justify-center {
        justify-content: center;
}

.text-center {
        text-align: center;
}
/* How to plat div */
.how-to-div {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 2rem 4rem;
        box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.445);
        border-radius: 3rem;
        background-color: rgba(255, 230, 0, 0.425);
}

.how-title {
        font-size: 4rem;
}

.how-txt {
        font-size: 1.3rem;
}
/* end of how to play div css */
/*testing author links css*/
.author-links {
        padding: 5.25rem 2.25rem 0 2.25rem;
        margin-top: 4rem;
        color: var(--text-color);
        text-shadow: 0.01rem 0.1rem 0.5rem rgba(0, 0, 0, 0.438);
}
.author-links:hover {
        color: rgba(121, 119, 42, 0.9);
        cursor: pointer;
        transform: scale(1.2);
        transition: 280ms;
}
/* end author links css */
/* hide css used to hide elements from user */
.hidden {
        display: none;
}

/* Button Styling */
.btn {
        font-size: 1.8rem;
        padding: 1rem 0;
        width: 20rem;
        text-align: center;
        border: 0.1rem solid black;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
        background: var(--golden-button);
        box-shadow: 5px 5px 15px rgb(63, 63, 63);
}

.btn:hover, .choice-container:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 150ms;
}

.btn[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
}

.menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
}
/* button css end */
/* Quiz specific CSS */
.choice-container {
        display: flex;
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 1.8rem;
        border: 0.1rem solid rgba(25, 25, 0, 0.37);
        background: linear-gradient(25deg, linen, beige, linen);
}
.choice-prefix {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 1.5rem 1rem;
        background: var(--golden-button);
}

.choice-text {
        padding: 1.5rem;
        width: 100%;
}
/* Highlight for correct answer */
.correct {
        background: var(--green-highlight);
}
/* Highlight for incorrect anwser */
.incorrect {
        background: var(--red-highlight);
}
/* End quiz CSS */
/* HUD */
#hud {
        display: flex;
        justify-content: space-evenly;
        padding: 1.5rem;
}

.hud-prefix {
        text-align: center;
        font-size: 2rem;
}

.hud-main-text {
        text-align: center;
}

#progress-bar {
        margin-top: 0.5rem;
        height: 4rem;
        width: 20rem;
        border: 0.3rem solid rgb(136, 127, 0);
        border-radius: 0.8rem;
        box-shadow: 0.25rem 0.25rem 1.5rem rgba(109, 101, 65, 0.699);
}

#progress-bar-full {
        height: 3.6rem;
        background-color: rgb(136, 127, 0);
        width: 0%;
}

/* Forms */
form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
}

input {
        margin-bottom: 1rem;
        width: 20rem;
        padding: 1.5rem;
        font-size: 1.8rem;
        border: none;
        box-shadow: 1.25rem 1.25rem 1.5rem rgba(109, 101, 65, 0.699);
}

/* Leaderboard */
#leaderboard-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 4rem;
}

.high-score {
        font-size: 2.8rem;
        margin-bottom: 0.5rem;
}

.high-score:hover {
        transform: scale(1.025);
}

/* Loading CSS */
#loader {
        border: 1.6rem solid rgba(168, 168, 168, 0.212);
        border-radius: 50%;
        border-top: 1.6rem solid rgb(255, 199, 58);
        width: 12rem;
        height: 12rem;
        animation: spin 2s linear infinite;
}
/* Footer */
footer {
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 5rem;
        height: 10vh;
        width: 100vw;
}

footer a {
        margin: 0% auto;
}

@keyframes spin {
        0% {
                transform: rotate(0deg);
        }
        100% {
                transform: rotate(360deg);
        }
}
/* Screens 1100px or greater */
@media screen and (min-width: 1100px) {
        .author-links {
                padding: 8rem 2.5rem 0 2.5rem;
        }
}

/* In testing for landscape mode */
@media (orientation: landscape) {
        body {
                margin-top: 10rem;
                width: 100vh;
        }
        .author-links {
                margin-top: 12rem;
        }
}

@media screen and (max-width: 800px) {
        h1 {
                font-size: 2.6rem;
        }

        h2 {
                font-size: 1.8rem;
        }
        h3 {
                font-size: 1.7rem;
        }
        P, li, a {
                font-size: 1.5rem
        }
        footer a {
                font-size: 4rem;
        }
        .how-title {
                font-size: 2rem;
        }
        .how-txt {
                font-size: 1rem;
        }
        .choice-container {
                font-size: 1.8rem;
        }
        .choice-prefix {
                padding: 0.5rem 1rem;
        }
        
        .choice-text {
                padding: 0.5rem;
                font-size: 1.2rem;
        }
        .btn {
                height: 4.5rem;
                width: 14rem;
                font-size: 1.4rem;
        }
        #progress-bar {
                height: 2rem;
                width: 10rem;
                border-radius: 0.4rem;
        }
        .hud-prefix {
                font-size: 1.3rem;
        }
        #progress-bar-full {
                height: 1.7rem;
        }
}

/* For Screens 450px and bellow */
@media screen and (max-width: 450px) {
        h1 {
                font-size: 1.8rem;
        }

        h2 {
                font-size: 1.6rem;
        }
        h3 {
                font-size: 1.4rem;
        }
        P, li, a {
                font-size: 1.4rem
        }
        footer a {
                font-size: 2.5rem;
        }
        .how-txt {
                font-size: 1rem;
        }
        .choice-container {
                font-size: 1.8rem;
        }
        .choice-prefix {
                padding: 0.5rem 1rem;
        }
        
        .choice-text {
                font-size: 1rem;
        }
}